* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fira-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/fira-sans-v16-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-v16-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Fira Sans';
  font-size: 16px;
  text-align: center;
  line-height: 41px;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 769px;
  height: 269px;
  margin: 0 auto;
  padding: 10px;
  border: 2px grey solid;
}

.key {
  width: 45px;
  height: 45px;
  border: 2px grey solid;
  transition: 0.3s;
  cursor: pointer;
}

.key:hover {
  background: rgba(92, 92, 92, 0.56);
  transform: scale(0.97);
  
}

.key-double {
  width: 95px;
}

.keyspace {
  width: 345px;
}

.key-active {
  background: black;
  color: white;
  transform: scale(0.97);
}

.key-active:hover {
  background: black;
  color: white;
}

#text-field {
  margin-top: 20px;
  padding: 5px;
}

.title {
  margin-top: 20px;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
}

.description {
  margin-top: 30px;
}